[Unit]
Description=Audio Teleport Listener
Requires=audio-teleport-listener.socket

[Service]
Type=simple
ExecStart=/usr/local/bin/audio-teleport-listener
StandardInput=socket
StandardError=journal
User=1000

[Install]
WantedBy=multi-user.target
